//COLORs
$white: #fff;
$coral: coral;
$grey-color: lightgrey;
$bgFilter: $white;

//HEADER
$header-subtitle: $coral;
$header-subtitle-before: '[ ';
$header-subtitle-after: ' ]';
$header-subtitle_before_after-size: 1.5rem;
