//TEXTS COLOR
$white: #fff;

//HEADER
$header-subtitle: orangered;
$header-subtitle-before: '[ ';
$header-subtitle-after: ' ]';
$header-subtitle_before_after-size: 1.5rem;

//FILTER BUTTON
$grey-color: lightgrey;
$bgFilter: #fff;