@import "../../Styles/constants.scss";

.headers {
    text-align: center;
    margin-top: 2rem;
}

#header-subtitle {
    color: $header-subtitle;
    font-size: 18px;
}

#header-subtitle:before {
    content: $header-subtitle-before;
    font-size: $header-subtitle_before_after-size;
}

#header-subtitle:after {
    content: $header-subtitle-after;
    font-size: $header-subtitle_before_after-size;
}

#header {
    margin-top: .5rem;
    font-size: 60px;
}