<div *ngIf="post$ | async as post">
	<div class="row">
		<div class="col-sm-12 col-md-12 col-xl-12 resetPadding">
			<div class="btnTop">
				<button mat-button (click)="goBack()">
					<mat-icon>keyboard_arrow_left</mat-icon> View Posts
				</button>
			</div>
			<div class="jumbotron"
				[style.backgroundImage]="post.image | imageUrlAppend">
				<div class="aligner-item--center">
					<h2>{{ post.title }}</h2>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<p class="description" [innerHtml]="post.description"></p>
		<div class="postContainer">
			<div class="commentContainer">
			<h3>Comments</h3>
			<mat-card *ngFor="let comment of post.comments" class="individualCard">
				<mat-card-header>
					<div mat-card-avatar class="avatar"><mat-icon class="avatarSize">person</mat-icon></div>
					<mat-card-title>{{ comment.author  }}</mat-card-title>
					<mat-card-subtitle class="comment">
							{{ comment.content }}
					</mat-card-subtitle>
				</mat-card-header>
			</mat-card>
			<form (ngSubmit)="addComment()" [formGroup]="Forma">
				<mat-form-field class="resetWidth">
					<mat-label class="placeHolderSize">Write a comment</mat-label>
					<textarea type="text" matInput formControlName="content"></textarea>
					<mat-error *ngIf="Forma.controls['content'].errors?.required">Comment can't be empty</mat-error>
				</mat-form-field>
				<button mat-raised-button color="primary" type="sumbit">Add</button>
			</form>
			</div>
		</div>
	</div>
</div>