  <div class="row">
    <div class="col-md-12">
      <app-add-post-btn 
      (newPost)="postAddEvent($event)"
      (reference)="addModalReference($event)"></app-add-post-btn>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-filter-bar (categoryClick)="onFilter($event)"></app-filter-bar>
    </div>
  </div>
<div class="margins row">
    <div *ngIf="!posts$" class="loading">Loading....</div>
    <app-miniature-post 
    (editPost)="editPostEvent($event)"
    (reference)="editModalReference($event)"
    (snackReference)="snackBarEvent($event)"
    class="resetPadding col-md-6 col-sm-12" *ngFor="let post of posts$ | async"
    [route]="['posts',post?._id]"
    [title]="post?.title"
    [comments]="post?.comments?.length"
    [shortDescription]="post?.shortDescription"
    [description]="post?.description"
    [id]="post?._id"
    [category]="post?.category"
    [Image]="post?.image" >
    </app-miniature-post>
</div>
