<div class="row">
    <div class="col-md-12">
      <app-headers></app-headers>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-add-post-btn (newPost)="postAddEvent($event)"></app-add-post-btn>
    </div>
  </div>
  <!-- <router-outlet></router-outlet> -->
  <div class="row">
    <div class="col-md-12">
      <app-filter-bar></app-filter-bar>
    </div>
  </div>
<div class="margins row">
    <app-miniature-post 
    class="resetPadding col-md-6 col-sm-12" *ngFor="let post of posts"
    [title]="post?.title"
    [comments]="post?.comments?.length"
    [shortDescription]="post?.shortDescription"
    [category]="post?.category"
    [Image]="post?.image" >
    </app-miniature-post>
</div>
